/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.lein-env
.dir-locals.el
repl.err
repl.out
nohup.out
.DS_Store
.nrepl-history
profiles.clj
